<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joshcortez.qr_scanner_v1">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".FirebaseApp"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Electives 5"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ReaderActivity"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".selection" />
        <activity android:name=".qrcodes" />
        <activity android:name=".bookOption" />
        <activity android:name=".Reader2Activity" />
        <activity android:name=".qrcodes2" />
        <activity android:name=".Reader3Activity" />
        <activity android:name=".qrcodes3"></activity>
    </application>

</manifest>